.card {
  display: grid;
  padding: 1rem;
  justify-items: center;
  border-radius: 1rem;
  border: 1px solid #ddd;
  background-color: white;
  color: var(--text);
  cursor: pointer;
  text-align: center;
}

input:checked + .card {
  border: 1px solid var(--primary);
  background-color: #82B1FF33;
}

.card__image {
  aspect-ratio: 1;
  width: 12rem;
  border-radius: .5rem;
  overflow: hidden;
  object-fit: cover;
  object-position: top;
}

.card h2 {
  margin-top: 1rem;
}

.label-card input {
  visibility: hidden;
  position: absolute;
  width: 0;
  height: 0;
}

.card > * {
  margin: 0;
}

@media screen and (max-width: 1210px) {
  .card h2 {
    margin-top: .25rem;
    font-size: 1.25rem;
  }

  .candidate__name, .candidate__city {
    display: none;
  }
  
  .card__image {
    width: 10rem;
  }
}

@media screen and (max-width: 660px) {
  .card__image {
    width: 7rem;
  }
}
