{% extends "base.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags wagtailmetadata_tags %}

{% block meta_tag %}
    {% meta_tags %}
{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/templates/home/home.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/components/popup.css' %}">

<main class="container">

    <div class="heading fade-up">
        {{page.heading|richtext}}
        <h3><a class="know-more__link" onclick="openKnowMore()">Saiba mais</a> sobre o Farol</h3>
    </div>
</main>

<script type="text/javascript" src="{% static 'js/animations/general.js' %}"></script>
<script type="text/javascript" src="{% static 'js/components/popup.js' %}"></script>
<script type="text/javascript" src="{% static 'js/home/carousel.js' %}"></script>

{% endblock %}

