html {overflow-x: hidden;}

button {
    padding: 10px;
    background-color: var(--dark-blue);
    color: white;
    border: none;
    border-radius: 100vmax;
    font-size: 1.125rem;
    font-weight: bold;
    transition: 0.25s;
    width: fit-content;
}

button :disabled {
    background-color: #666;
    border-color: white;
}

button:hover:not(:disabled) {
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.hidden {visibility: hidden;}

.hide {display: none;}

.container {
    width: 80%;
    height: 100%;
    margin-inline: auto;
    max-width: 750px;
    margin-left: 4.5rem;
}

.messages li.success {background-color: var(--primary-color);}

.messages li.success .icon {
    -webkit-mask: url(/static/img/icons/check.svg) no-repeat center;
    mask: url(/static/img/icons/check.svg) no-repeat center;
}

.messages li.error {background-color: red;}

.messages li.error .icon {
    -webkit-mask: url(/static/img/icons/alert.svg) no-repeat center;
    mask: url(/static/img/icons/alert.svg) no-repeat center;
}

.messages li {
    list-style-type: none;
    margin-left: -40px;
    padding: 15px;
    font-weight: 900;
    color: white;
    margin-bottom: .5rem;
}

.messages li:last-child {margin-bottom: 0;}

.field-row select {height: 3rem;}

@media (max-width: 1200px) {
    img {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 1600px) {
    body {background: unset;}

    .container {margin-left: auto;}
}
