html {overflow-x: hidden;}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--text);
    background-color: var(--bg);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.box {
    background-color: var(--bg-box);
    border: 1px solid var(--text-light);
    border-radius: 1rem;
    padding: 1rem;
    margin-inline: auto;
    max-width: 75%;
}

button {
    padding: 10px;
    background-color: var(--dark-blue);
    color: white;
    border: none;
    border-radius: 100vmax;
    font-size: 1.125rem;
    font-weight: bold;
    transition: 0.25s;
    width: fit-content;
}

button :disabled {
    background-color: #666;
    border-color: white;
}

button:hover:not(:disabled) {
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.hidden {visibility: hidden;}

.hide {display: none;}

.container {
    width: 80%;
    height: 100%;
    margin-inline: auto;
    max-width: 80rem;
}

.messages li.success {background-color: var(--primary-color);}

.messages li {
    list-style-type: none;
    margin-left: -40px;
    padding: 15px;
    font-weight: 900;
    color: white;
    margin-bottom: .5rem;
}

.messages li:last-child {margin-bottom: 0;}

.field-row select {height: 3rem;}
