header {
    font-family: 'Oswald', sans-serif;
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    z-index: 700;
    height: 4rem;
    margin-bottom: 2rem;
}

header h1 {
    margin: 0;
}
