header {
    margin-bottom: 2rem;
}

.header__content {
    font-family: 'Oswald', sans-serif;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    z-index: 700;
    height: 4rem;
}

.header__content * {
    margin-block: 0;
}

@media screen and (max-width: 1210px) {
    header {
        margin-top: 0;
        margin-bottom: 1rem;
    }
}