:root {
    --primary: #2979FF;
    --light: #82B1FF;
    --purple: #5C6BC0;
    --lavender: #8C9EFF;
    --navy: #1A237E;

    --bg: #121212;
    --bg-box: #1E1E1E;
    --text: #E0E0E0;
    --text-light: #BDBDBD;
}
