:root {
    --primary: #2979FF;
    --light: #82B1FF;
    --purple: #5C6BC0;
    --lavender: #8C9EFF;
    --navy: #1A237E;

    --bg: #E0E0E0;
    --bg-box: #BDBDBD;
    --text: #121212;
    --text-light: #666;
}
