form {
  display: grid;
  gap: 1rem;
  justify-content: center;
  justify-items: center;
}

.tournament {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

button.tournament__btn {
  color: var(--text-light);
}

button.tournament__btn:disabled {
  color: #BBB;
}

button.tournament__btn:disabled:hover {
  cursor: not-allowed;
  color: #BBB;
}

button.tournament__btn:hover {
  box-shadow: none;
  color: var(--text);
}

form .field__competition.selected {
  display: grid;
}

form .field__competition {
  display: none;
  grid-template-columns: minmax(18rem, 24rem) 6rem minmax(18rem, 24rem);
  justify-content: center;

  background-color: white;
  padding: 3rem;
  border-radius: 1rem;

  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

form .field__competition .card:last-of-type {
  grid-column: 3;
}

.card-vs {
  text-align: center;
  grid-column: 2;
  grid-row: 1;
  font-weight: 900;
  font-size: 2rem;
  color: #666;
  align-self: center;
  height: 3rem;
  display: grid;
  place-items: center;
}

.submit-btn {
  background-color: white;
  color: var(--text);
  padding: 1rem;
  margin-bottom: 2rem;
}

.submit-btn:disabled {
  background-color: #BBB;
  cursor: not-allowed;
}


@media screen and (max-width: 1210px) {
  form .field__competition {
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  button.tournament__btn {
    font-size: .75em;
  }

  form .field__competition .card:last-of-type {
    grid-column: 1;
  }

  button.tournament__btn.next-btn {
    justify-self: flex-end;
  }

  .card-vs {
    grid-column: 1;
    grid-row: 2;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 660px) {
  .tournament {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: unset;
    justify-items: center;
  }

  .tournament__btn {
    margin-top: -7rem;
  }

  button.tournament__btn.next-btn {
    justify-self: center;
  }

  .next-btn {
    grid-row: 3;
    grid-column: 2;
  }

  .prev-btn {
    grid-row: 3;
    grid-column: 1;
  }

  form {
    grid-column: span 2;
  }
}