.no-tournament {
  display: grid;
  justify-content: center;
  text-align: center;
}

.container {
  padding-block: 3rem;
}

.no-tournament p {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #666;
}
