{% extends "base.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/templates/tournament/index.css' %}">

    <div class="container">
        <div class="tournament">
          <form method>
            {% csrf_token %}
            {% for field in form %}
              {% for option in field %}
                <div class="card">
                  <div class="card-header">
                    {{ option }}
                    <h2>{{ option.name }}</h2>
                  </div>
                  <div class="card-body">
                    
                  </div>
                </div>
              {% endfor %}
            {% endfor %}
          </form>
        </div>
    </div>

{% endblock %}