{% extends "base.html" %}
{% load static results %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/templates/tournament/no_tournament.css' %}">

    <div class="container">
        <div class="no-tournament box fade-up">
            <h2>Não há disputas ativas no momento.</h2>
            {% if next_tournament %}
                A próxima disputa está prevista para <b>{{ next_tournament.start_date|date:"H:m" }}</b>.
            {% else %}
                <p>Aguarde o início de uma nova disputa.</p>
            {% endif %}
            {% results 'Últimos Resultados' last_results %}
        </div>
    </div>
{% endblock %}
